/* External imports */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Import components */
@import "css/button.css";
@import "css/images.css";
@import "css/navbar.css";
@import "css/timeline.css";

/* general CSS styles */

body {
  margin: 0;
  padding: 0;
}

body h1, h2{
  font-family: 'Arvo';
  font-weight: bolder;
}

body p {
  font-family: 'Open Sans';
}

/* pages */

#landing {
  height: 500px; 
}

#concept {
  height: 500px; 
}

#project-form {
  background: rgba(139, 170, 243, 0.22);
  border-radius: 10px;
}

